In [4]:
import pymongo
from PIL import Image
from bson.objectid import ObjectId
import io
from matplotlib import pyplot as plt
import json

## New

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
db = myclient["mydb"]
annotations = db["annotations"]

In [36]:
lst = [[0.3,0.35],[0.2,0.9],[0.08,0.3],[0.76,0.2],[0.01,0.02],[0.6,0.7],[0.2,0.4]]
lst2 = ['pakistan_design_1,usa_design2','usa_design2,pakistan_design_1','bahrain_design1,pakistan_design_1',
        'india_design3,pakistan_design_1','peeru_design2,pakistan_design_1','pakistan_design2,pakistan_design_1',
        'usa_design5,pakistan_design_2']

dict_list = []
pakistan_design1 = {}

for l1,l2 in zip(lst,lst2):
    with open("via_project_21Apr2021_19h56m.json", "r") as file:
        val = json.load(file)
        val['_via_img_metadata']['annot'] = l2
        val['_via_img_metadata']['conf'] = l1
        dict_list.append(val)
        
pakistan_design1["myvals"] = dict_list

In [37]:
annotations.insert_one(pakistan_design1)

In [44]:
query = { "myvals": 1 }
results = annotations.find(query)
[i for i in results]

[]

## OLD

In [18]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
db = myclient["mydb"]
subjects = db["subjects"]

In [19]:
# Insert one document
mydict = { "name": "Intro to Programming", "teacher": "ABC" }
x = subjects.insert_one(mydict)

In [20]:
x.inserted_id

ObjectId('6085485f0f001298d324613f')

In [21]:
# Insert multiple documents
mylist = [
  { "name": "OOP", "teacher": "Ustad Nauman", "student_list":[
      {"name": "Hussam", "grade": 70},
      {"name": "Usman", "grade": 20, "properties":[2,4,6,8]},
      {"name": "Ahmed", "grade": 90}
  ]},
  { "name": "Data Structures", "teacher": "Imran Khan"},
]

x = subjects.insert_many(mylist)
x.inserted_ids

[ObjectId('608548600f001298d3246140'), ObjectId('608548600f001298d3246141')]

In [22]:
# Number of documents in a collection
subjects.estimated_document_count()

3

In [23]:
# The find_one() method returns the first occurrence in the selection.
x = subjects.find_one()
print(x)

{'_id': ObjectId('6085485f0f001298d324613f'), 'name': 'Intro to Programming', 'teacher': 'ABC'}

In [53]:
x = subjects.find({})
[row for row in x]

[{'_id': ObjectId('6085485f0f001298d324613f'),
  'name': 'Intro to Programming',
  'teacher': 'ABC'},
 {'_id': ObjectId('608548600f001298d3246140'),
  'name': 'OOP',
  'teacher': 'Ustad Nauman',
  'student_list': [{'name': 'Hussam', 'grade': 70},
   {'name': 'Usman', 'grade': 20, 'properties': [2, 4, 6, 8]},
   {'name': 'Ahmed', 'grade': 90}]},
 {'_id': ObjectId('608548600f001298d3246141'),
  'name': 'Data Structures',
  'teacher': 'Imran Khan'}]

In [31]:
x = subjects.find({},{ "_id": 0, "teacher": 1,"name": 1})
[row for row in x]

[{'name': 'Intro to Programming', 'teacher': 'ABC'},
 {'name': 'OOP', 'teacher': 'Ustad Nauman'},
 {'name': 'Data Structures', 'teacher': 'Imran Khan'}]

In [47]:
# Find document(s) with the address "Park Lane 38"
myquery = { "_id": ObjectId('608548600f001298d3246140') }

mydoc = subjects.find(myquery)

# for x in mydoc:
#     print(x)
dic = mydoc.next()
print(dic['student_list'][1]['properties'])

[2, 4, 6, 8]